version: 2.1

jobs:
  build_data:
    docker:
      - image: circleci/ruby:2.4.1-jessie
    steps:
      - add_ssh_keys:
          fingerprints:
          - 'dd:0a:d9:88:63:0f:ea:b0:39:f8:fb:e7:c5:41:eb:31'
      - checkout
      - run: bundle install
      - run: bundle exec ruby scripts/update_data.rb
      - run: bash scripts/create_pull_request_if_needed.sh

workflows:
  version: 2
  scheduled-workflow:
    triggers:
      - schedule:
          #cron: "0 15 * * *"
          cron: " 5 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_data


